.dropdown-menu{
        width: 328px;
      }
      .dropdownCart{
            margin-left: -98px;
      }

      .item{
          display:block;
          padding:3px 10px;
          margin: 3px 0;
      }
      .item:hover{
          background-color:#f3f3f3;
      }
       .item:after{
          visibility: hidden;
          display: block;
          font-size: 0;
          content: " ";
          clear: both;
          height: 0;
      }
          .item-left{
            float:left;
            width: 86%;
        }
        .item-left img,
        .item-left span.item-info{
            float:left;
        }
        .item-left span.item-info{
            margin-left:10px;  
        }

        .item-info{
            margin-left:10px;  
                width: 77%; 
        }
        .item-left span.item-info span{
            display:block;
        }
        .item-right{
            float:right;
        }
         .item-right button{
            margin-top:14px;
        }

        .price{
           width: 33%;
                 float: left;
        }

        .title{
           width: 65%;
                 float: left;
        }