/*
 * FOOD MENU
 */

.food-jumbotron {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #001F40;
  border-radius: 0%;
  height:  calc(100vh - 62px);
}

.food-jumbotron-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: cover;
  height: 100%;
}

.food-jumbotron-caption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.menu-icon {
  max-width: 45px; 
}

.menu-icon-text {
  display: none;
}

.food-jumbotron h1 {
  margin-bottom: 2.8rem;
}

.food-category {
  padding-top: 8rem;
}

.food-category h2 {
  margin-bottom: 2.8rem;
}

.menu-item {
  padding: 2.8rem 0;
}

.food-image {
  margin-bottom: 2.8rem;
  text-align: center;
}

.food-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.food-title:before {
  position: absolute;
  top: 12px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,1);
  display: block;
  content: '';
}

.food-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.food-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.food-ingredients {
  margin-bottom: 0;
}

.food-horizontal-rule {
  margin: 0;
}

/*
 * DRINKS MENU
 */

.drinks-jumbotron {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #001F40;
  border-radius: 0%;
  height:  calc(100vh - 62px);
}

.drinks-jumbotron-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: cover;
  height: 100%;
}

.drinks-jumbotron-caption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.drinks-jumbotron h1 {
  margin-bottom: 2.8rem;
}

.drinks-descriptions {
  max-width: 50em;
}

.drink-category {
  padding-top: 8rem;
}

.drink-category h2 {
  margin-bottom: 2.8rem;
}

.drink-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
}

.drink-title:before {
  position: absolute;
  top: 12px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,1);
  display: block;
  content: '';
}

.drink-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.drink-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.drink-ingredients {
  margin-bottom: 0;
}

.drink-horizontal-rule {
  margin: 0;
}

/*
 * DESSERTS MENU
 */

.desserts-jumbotron {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #001F40;
  border-radius: 0%;
  height:  calc(100vh - 62px);
}

.desserts-jumbotron-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  object-fit: cover;
  height: 100%;
}

.desserts-jumbotron-caption {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.desserts-jumbotron h1 {
  margin-bottom: 2.8rem;
}

.desserts-descriptions {
  max-width: 50em;
}

.dessert-category {
  padding-top: 8rem;
}

.dessert-category h2 {
  margin-bottom: 2.8rem;
}

.dessert-image {
  margin-bottom: 2.8rem;
  text-align: center;
}

.dessert-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.dessert-title:before {
  position: absolute;
  top: 12px;
  left: 20px;
  right: 20px;
  height: 1px;
  border-top: 2px dotted rgba(0,0,0,1);
  display: block;
  content: '';
}

.dessert-name {
  position: relative;
  padding-right: 15px;
  background: #fff;
}

.dessert-price {
  position: relative;
  padding-left: 15px;
  background: #fff;
}

.dessert-ingredients {
  margin-bottom: 0;
}

.dessert-horizontal-rule {
  margin: 0;
}